
.fs-header {
    font-size:56px;
}
.fs-title {
    font-size:48px;
    line-height: 95%;
}
.fs-subtitle {
    font-size:2rem;
}
.fs-text {
    font-size:1.25rem;
}

@media screen and (max-width:768px){
    .fs-header {
        font-size:44px;
    }
    .fs-title {
        font-size:32px;
    }
    .fs-subtitle {
        font-size:1.4rem;
    }
    .fs-text {
        font-size:1rem;
    }
}