<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>LFD</title>
</head>
<body>
    <nav class="navigation">
        <h2 class="navigation-logo">LFD</h2>
        <div class="navigation-icon"></div>
    </nav>
    <main>
        <section class="home-hero">
            <header class="home-hero__header">
                <h1 class="header__title">Light Fight of Darkness</h1>
            </header>
            <div class="home-hero-showcase">
                <img src="" alt="" class="showcase__img">
                <div class="showcase-btn-container">
                    <button class="showcase__btn btn">Inscris-toi !</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>