<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <title>LFD</title>
</head>
<body>
    <main>
        <div class="home-hero-wrapper">
            <section class="home-hero">
                <div class="overlay">
                    <nav class="navigation">
                        <div class="navigation-container">
                            <h2 class="navigation-logo">LFD</h2>
                            <div class="navigation-icon">
                                <div class="navigation-icon-bar"></div>
                                <div class="navigation-icon-bar"></div>
                                <div class="navigation-icon-bar"></div>
                            </div>
                        </div>
                    </nav>
                    <header class="home-hero__header">
                        <h1 class="home-hero__title">Light Fight of Darkness</h1>
                    </header>
                    <div class="home-hero-showcase">
                        <p class="home-hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ad fugit quas accusamus, illum reprehenderit doloremque excepturi sunt, quia eos at provident quisquam ipsam voluptates tempora aspernatur non ipsa quod?</p>
                        <div class="home-hero-btn-container">
                            <button class="home-hero__btn btn">Inscris-toi !</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="adventure">
            <nav class="adventure-aside-navbar">
                <div class="adventure-navbar-bubble">1</div>
                <div class="adventure-navbar-bubble">2</div>
                <div class="adventure-navbar-bubble">3</div>
            </nav>
            <div class="adventure-container">
            <div class="adventure-description"></div>
            <div class="adventure-img"></div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/618a2644fe.js" crossorigin="anonymous"></script>
    <script src="../js/functionnalities.js"></script>
</body>
</html>