<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/font.css" type="text/css">
    <script src="https://kit.fontawesome.com/618a2644fe.js" crossorigin="anonymous"></script>
    <title>LFD</title>
</head>
<body>
    <div class="app">
        <div class="mobile-navbar">
            <i class="mobile-navbar__quit-btn fas fa-times"></i> 
            <nav class="mobile-navbar-links">
                <a class="mobile-navbar__link" href="/">Accueil</a>
                <a class="mobile-navbar__link" href="/register">S'inscrire</a>
                <a class="mobile-navbar__link" href="/login">Se connecter</a>
                <a class="mobile-navbar__link" href="mail-to:nagelkilian05@gmail.com">Contact</a>
            </nav>
        </div>
        <div class="home-hero-wrapper padding-large">
            <section class="home-hero">
                <div class="home-hero__navigation navigation padding-small">
                    <ul class="home-hero__navigation-items">
                        <h2 class="home-hero__navigation-item home-hero__navigation-logo">LFD</h2>
                        <nav class="home-hero__navigation-item home-hero__navigation-links">
                            <a class="home-hero__navigation-link" href="/">Accueil</a>
                            <a class="home-hero__navigation-link" href="/register">S'inscrire</a>
                            <a class="home-hero__navigation-link" href="/login">Se connecter</a>
                            <a class="home-hero__navigation-link" href="mailto:nagelkilian05@gmail.com">Contact</a>
                        </nav>
                        <div class="home-hero__navigation-item home-hero__navigation-icon">
                            <div class="home-hero__navigation-icon-bar"></div>
                            <div class="home-hero__navigation-icon-bar"></div>
                            <div class="home-hero__navigation-icon-bar"></div>
                        </div>
                    </ul>
                </div>
                <header class="home-hero__header header">
                    <h1 class="home-hero__header-title title fs-header">Light Fight of Darkness</h1>
                </header>
                <div class="home-hero__showcase showcase">
                    <p class="home-hero__showcase-text text fs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ad fugit quas accusamus, illum reprehenderit doloremque excepturi sunt, quia eos at provident quisquam ipsam voluptates tempora aspernatur non ipsa quod?</p>
                    <div class="home-hero__qualities max-width-lg">
                        <div class="home-hero__quality">
                            <h3 class="home-hero__quality-title fs-text">2D Classique</h3>
                            <p class="home-hero__quality-text fs-text">Redécouvrez le style 2D.</p>
                        </div>
                        <div class="home-hero__quality">
                            <h3 class="home-hero__quality-title fs-text">Rpg</h3>
                            <p class="home-hero__quality-text fs-text">Un jeu type rpg.</p>
                        </div>
                        <div class="home-hero__quality">
                            <h3 class="home-hero__quality-title fs-text">Quêtes</h3>
                            <p class="home-hero__quality-text fs-text">Un système de quêtes</p>
                        </div>
                    </div>
                    <div class="home-hero__btn-container">
                        <button class="home-hero__btn btn" href="/download">Téléchargez</button>
                    </div>
                </div>
            </section>  
              
        </div>

        <section class="adventure">
            <!--<nav class="adventure__aside-navbar">
                <div class="adventure__navbar-bubble">1</div>
                <div class="adventure__navbar-bubble">2</div>
                <div class="adventure__navbar-bubble">3</div>
            </nav>-->
            <div class="adventure__container container padding-container">
                <div class="adventure__description">
                    <h2 class="adventure__description-title fs-title title">Embarquez dans l'aventure.</h2>
                    <p class="adventure__description-text fs-text text margin-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae ullam distinctio, rem velit repellendus quidem culpa iste voluptatem ab, neque suscipit. Nobis perspiciatis minima praesentium nisi dolore voluptatum dolorem.</p>
                </div>
                <img class="adventure__img" alt="adventure image" src="../images/adventure.png">
            </div>
        </section>

        <section class="discover">
            <div class="discover__container container padding-container">
                <img src="../images/discover.png" alt="image of the discover" class="discover__img">
                <div class="discover__description">
                    <h2 class="discover__description-title fs-title title">Décrouvrez les mystères.</h2>
                    <p class="discover__description-text fs-text text margin-top">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, repellat explicabo. Voluptatum delectus modi cupiditate hic eum. Unde consectetur ex possimus, molestiae ullam tempore quae corrupti aliquam, illum quasi repellat?
                    </p>
                </div>
        </section>

        <section class="fight">
            <div class="fight__container container padding-container">
                <div class="fight__description">
                    <h2 class="fight__description-title fs-title title">Combattez contre les forces du mal.</h2>
                    <p class="fight__description-text fs-text text margin-top">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi explicabo facere nostrum, odit, eos, nobis quidem architecto velit delectus nihil nesciunt aliquid doloribus ipsum maiores. Molestiae laudantium iste eveniet labore?</p>
                </div>
                <img src="../images/fight.png" alt="image of fighting" class="fight__img">
            </div>
        </section>

        <hr style="color:rgb(38 88 39)">

        <footer class="footer">
            <h3 class="footer__title fs-title">LFD</h3>
            <ul class="footer__items">
                <li class="footer__item fs-text">Produit</li>
                <li class="footer__item"><a href="" class="footer__link fs-text">Jeux</a></li>
                <li class="footer__item"><a href="" class="footer__link fs-text"></a></li>
                <li class="footer__item"><a href="" class="footer__link fs-text"></a></li>
            </ul>
            <ul class="footer__items">
                <li class="footer__item fs-text">Communauté</li>
                <li class="footer__item"><a href="" class="footer__link fs-text">Forums</a></li>
                <li class="footer__item"><a href="" class="footer__link fs-text">Assistance</a></li>
                <li class="footer__item"><a href="" class="footer__link fs-text">Commentaires</a></li>
            </ul>
            <ul class="footer__items">
                <li class="footer__item fs-text">Développeurs</li>
                <li class="footer__item"><a href="" class="footer__link fs-text">A propos</a></li>
                <li class="footer__item"><a href="mailto:nagelkilian05@gmail.com" class="footer__link fs-text">Contact</a></li>
                <li class="footer__item"><a href="" class="footer__link fs-text">Github</a></li>
            </ul>
        </footer> 

    </div>
   
        <!--
        <section class="map">
            <div class="map-container container">
                <div class="map-description">
                    <h2 class="map-description__title">Map openworld</h2>
                    <p class="map-description__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ipsum, alias repudiandae, eveniet facilis debitis deleniti soluta culpa itaque nesciunt aliquid maxime illo ipsam, dignissimos ullam perspiciatis repellat tempore in.</p>                
                </div>
                <ilg class="map__img"></img>
            </div>
        </section>
        <footer>
            <a href="https://www.flaticon.com/free-icons/history" title="history icons">History icons created by max.icons - Flaticon</a>
        </footer>
        -->
    <script src="../js/index.js"></script>
    </div>
</body>
</html>